{% extends 'base.html' %}

{% block content %}

<h2 class=" text-left text-white d-none d-lg-block"style="font-size: 25px; text-align: center;color: #2a2e2e; margin-top:3%;" > Artículos </h2>
<div class="footer-divider" style="width:41.6%; margin: 0 auto"></div>
{% for post in posts %}
<div class="py-3" style="margin-top:2%">
  <div class="card card-body" style="width:42%; margin: 0 auto; align-items: center; ">
      <div class="col-9" >
        <h2 style="color: #2a2e2e;">{{post.title}}</h1>
        <div class="footer-divider" ></div>
        <p>{{post.description|striptags|truncatechars:100}}</p>
        <a href="{% url 'blog:post_detail' post.id %}" style="text-decoration: none; color:rgb(148, 147, 147)">Leer artículo...</a>
        <p>{{post.date|date:'M d Y'|upper}}</p>
      </div>
      <div class="row">      
        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}" style=" margin: 0 auto;">
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
</div>
