{% extends "base.html" %}

{% load static %}


{% block content %}



<div class="row " style="width: 100%;  margin-top: 5%; padding: 5% 10%;">
{% for pelicula in peliculas %}
<div class="col-md-3" style="margin: 0 auto;">
  <div class="card " style="width: 69%; height:100%; border-radius: 20px; ">
      <img src="{{pelicula.imagen.url }}" class="img-fluid " style="border-radius: 20px; width: 300px; height: 350px; margin: 0 auto;">
      <div class="card-body col-md-12 float-md-left blog-thumbnail" style="text-align: center;">    
      <a href="" class="card-title"style="text-align: center; color:black; text-decoration: none; ">{{ pelicula.titulo|truncatechars:100 }}</a>
  </div>
  
  <div class="card-text" style=" align-items: center;">                  
    <a href="{{pelicula.url}}" class="btn " target="__blank"
    style="text-align: center; border-radius: 20px;   color: #787575;
    background-color: rgb(255, 165, 0); margin-bottom: 5%; " 
    >
    <i class="fa fa-play-circle-o" style="font-size: 20px;"></i>
    Ver Película
  </a>   
  <a href="{% url 'pelicula_detail' pelicula.id %}" style="color: rgb(148, 147, 147); margin-right: 1.1rem; ">Leer más...</a>     
</div> 
  </div>
  </div><!--card que se cierra-->
{% endfor %}
{% endblock %}
</div>